{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "quotes": "off",
    "require-jsdoc": "off",
    "eol-last": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "brace-style": "off",
    "space-before-blocks": "off",
    "semi": "off",
    "operator-linebreak": "off",
  },
  "extends": ["eslint:recommended", "google"]
}
